<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{$shop_info['hostname']}</title>
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="{$icon}">
    <link rel="apple-touch-icon-precomposed" href="__ADMIN_PUBLIC__/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="{$shop_info['hostname']}" />
    <link rel="stylesheet" href="__ADMIN_PUBLIC__css/amazeui.min.css" />
    <link rel="stylesheet" href="/static/bootstrap-3.3.5/css/bootstrap.css" />
    <link rel="stylesheet" href="__ADMIN_PUBLIC__css/admin.css">
    <link rel="stylesheet" href="__ADMIN_PUBLIC__css/app.css">
    <script src="__ADMIN_PUBLIC__js/echarts.min.js"></script>
    <script src="/static/jquery-2.2.4.min.js"></script>
    <script src="/static/layer/layer.js"></script>
    <script src="__ADMIN_PUBLIC__js/vue.js"></script>
    <script src="__ADMIN_PUBLIC__js/axios.js"></script>
</head>