<!--引入资源文件-->
{include file="../application/admin/view/public/head.html" /}
<link href="/static/dengxiang/css/lightbox.css" rel="stylesheet">
<body data-type="generalComponents">
<!--引入资源文件-->
{include file="../application/admin/view/public/header.html" /}

<div class="tpl-page-container tpl-page-header-fixed">
    <!--引入资源文件-->
    {include file="../application/admin/view/public/menu.html" /}

    <div class="tpl-content-wrapper">
        <!--引入资源文件-->
        {include file="../application/admin/view/public/nva.html" /}
        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    <span class="am-icon-code"></span>角色列表
                </div>
                <div class="tpl-portlet-input tpl-fz-ml">
                    <div class="portlet-input input-small input-inline">
                        <div class="input-icon right">
                            <i class="am-icon-search"></i>
                            <input type="text" class="form-control form-control-solid" placeholder="搜索..."> </div>
                    </div>
                </div>


            </div>
            <div class="tpl-block">
                <div class="am-g">
                    <div class="am-u-sm-12 am-u-md-6">
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <button onclick="href()" type="button" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</button>
                                <!--<button type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-save"></span> 保存</button>-->
                                <!--<button type="button" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-archive"></span> 审核</button>-->
                                <!--<button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button>-->
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-3">
                        <div class="am-input-group am-input-group-sm">
                            <input type="text" class="am-form-field">
                            <span class="am-input-group-btn">
            <button class="am-btn  am-btn-default am-btn-success tpl-am-btn-success am-icon-search" type="button"></button>
          </span>
                        </div>
                    </div>
                </div>
                <div class="am-g">
                    <div class="am-u-sm-12">
                        <form class="am-form">
                            <table class="am-table am-table-striped am-table-hover table-main">
                                <thead>
                                <tr>
                                    <th class="table-check"><input type="checkbox" class="tpl-table-fz-check"></th>
                                    <th class="table-id">序号</th>
                                    <th class="table-avatar">角色名</th>
                                    <th class="table-set">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist name='data' id='v' empty="暂时没有数据"	key="k"}
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>{$k}</td>
                                    <td>{$v['title']}</td>
                                    <td>
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs">
                                                <button onclick='location.href="{:url('admin/Rule/rule_distribution',['id'=>$v['id']])}"' type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span>分配权限</button>
                                                <button onclick='location.href="{:url('admin/Rule/edit_group',['id'=>$v['id']])}"' type="button" class="am-btn am-btn-default"><span class="am-icon-pencil-square-o"></span> 更新</button>
                                                <button onclick='del("{$v.id}",this)' type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {/volist}
                                </tbody>
                            </table>
                            <div class="am-cf">
                                <div class="am-fr">
                                    <ul class="am-pagination tpl-pagination">

                                    </ul>
                                </div>
                            </div>
                            <hr>

                        </form>
                    </div>

                </div>
            </div>
            <div class="tpl-alert"></div>
        </div>
    </div>

</div>
<!--引入资源文件-->
{include file="../application/admin/view/public/footer.html" /}
<script src="/static/dengxiang/js/lightbox.js"></script>
</body>
<script>
    function href() {
        location.href= '/admin/Rule/add_group';
    }

    function del(id,obj) {
        layer.confirm('确认删除么？', {
            btn: ['确定','取消'] //按钮
        }, function(){
            $.ajax({
                url: "{:url('admin/Rule/delete_group')}",
                type: 'post',
                dataType: 'json',
                data:{id:id},
                success:function(res){
                    if(res.status == 1){
                        layer.msg(res.msg);
                        setTimeout('location.reload()',1000);
                    }else{
                        layer.msg(res.msg);
                    }
                }
            });
        })
    }
    function edit(id) {
        location.href = "{:url('admin/User/editUser',['id'=>'"+id+"'])}";
    }
</script>
</html>